html{
    background: url("../Images/brain9.jpg");
    background-size: cover;
}

body{
    margin: 0px;
}

.container{
    width: 400px;
    height: 290px;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.979);
    border-radius: 20px;
    margin: 0px auto;
    margin-top: 150px; 
    margin-bottom: 10px;
    padding-bottom: 0px;
}

input[type="text"], input[type="password"]{
    width: 300px;
    height: 45px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: white;
    padding-left: 20px;
    border: solid white;
    border-radius: 20px;
}

#btnlogin{
    width: 300px;
    height: 30px;
    padding: 0px 120px;
    color: #fff;
    background-color: rgb(52, 83, 255);
    border:none;
    border-radius: 20px;
    text-align: center;
}

#btnlogin:hover{
    cursor: pointer;
    transition: background 2.5s; 
    transition: color 1s;
    border: solid 1px; 
}

.section-title {
    border-bottom: 1px solid #ccc;
    font-size: 30px;
    padding: 12px 0 12px 0;
    letter-spacing: 1px;
    user-select: none;
}

.section-title2{
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 12px 0 12px 0;
    margin-top: 17px;
    background: #fff;
    font-size: 14px;
}

a{
    color: blue;
    cursor: pointer;
    font-weight: 400;
}

